
.navbar {
    background-color: pink; /* розовый цвет навбара */
}

.navbar-brand {
    display: block;
    width: 100%;
    text-align: center; /* название сайта по центру */
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFB6C1;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', sans-serif;
    color: #696969;
    padding: 1rem 0;
    box-shadow: 0 0.2rem 0.4rem rgba(128, 128, 128, .3);
}